__pycache__/
.DS_Store
.ipynb_checkpoints/

snapshot_2022-12-20/

# bin files
bin/blastp
bin/makeblastdb

# data files
data/species/
data/all_epitopes.csv
data/all_sources.csv

# locked files
.~*

id_to_gene_name.tsv
protein_tree.ipynb
tree.txt