__pycache__/
.DS_Store
.ipynb_checkpoints/

snapshot_2022-12-20/

# bin files
bin/blastp
bin/makeblastdb

# data files
data/species/
data/epitopes.csv
data/sources.csv
data/epitope_assignments.csv
data/source_assignments.csv

# locked files
.~*

id_to_gene_name.tsv
protein_tree.ipynb
tree.txt